---
import { Image } from "astro:assets";

// assets imports
import vector2 from "../../../assets/vector2.svg";

//components impors
import ViewerPost from "./modern-viewer-post.astro";

// data imports
import { VIEWERS_DATA } from "../../../constants/modern-viewer";

---

<div class="flex flex-col w-full  items-center">
  <div
    class="flex flex-col md:flex-row lg:flex-row w-full bg-card md:justify-between md:items-center border-y border-border gap-[30px] py-[20px] px-[16px] md:py-[40px] md:px-[70px]"
  >
    <div class="flex flex-col gap-[10px]">
      <p
        class="text-title py-[4px] px-[8px] rounded-md bg-button w-fit font-inter text-sm"
      >
        Featured Videos
      </p>
      <h1 class="text-2xl md:text-3xl text-title font-kumbh-sans">
        Visual Insights for the Modern Viewer
      </h1>
    </div>
    <button
      class="flex bg-background text-desc py-[10px] px-[16px] gap-[4px] border rounded-md border-border font-inter justify-center hover:bg-card"
    >
      View All Testimonials
      <Image src={vector2} alt="vector2" class="mt-[6px] w-[13.75px]" />
    </button>
  </div>  
    <div class="flex flex-col px-[16px] md:px-[50px] lg:px-[162px] font-inter">
      {VIEWERS_DATA.map((row) => (
        <ViewerPost row={row}  />
      ))}
    </div>
</div>

