---
// component import

// ui import
import ModernViewer from './components/modern-viewer.astro';
import NewsSection from './components/news-section.astro';
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Akera.ai">
    <div
      class="flex flex-col w-full py-[32px] px-[16px] gap-[14px] md:gap-[20px] md:py-[64px]"
    >
      <h1
        class="text-3xl md:text-4xl text-title font-kumbh-sans max-w-sm md:max-w-none"
      >
        Today's Headlines: Stay
        <span class="md:hidden"> Informed</span>
      </h1>
      <div class="flex flex-col md:flex-row gap-[20px] md:items-center">
        <h1 class="hidden md:flex text-4xl text-title font-kumbh-sans">
          Informed
        </h1>
        <p class="font-inter text-desc max-w-5xl">
          Explore the latest news from around the world. We bring you
          up-to-the-minute updates on the most significant events, trends, and
          stories. Discover the world through our news coverage.
        </p>
      </div>
    </div>

    <NewsSection />

    <ModernViewer />
</Layout>
