---
import { Image } from "astro:assets";
import vector2 from "../../../assets/vector2.svg";

import { avatarsData } from "../../../constants/reader-section";

import AvatarData from "./avatar-data.astro";
---

<div class="flex flex-col w-full">
  <div
    class="flex flex-col md:flex-row lg:flex-row w-full bg-card md:justify-between md:items-center border-y border-border gap-[30px] py-[40px] px-[16px] md:p-[70px]"
  >
    <div class="flex flex-col gap-[10px] ">
      <p
        class="text-title py-[4px] px-[8px] rounded-md bg-button max-w-[170px] font-inter text-sm"
      >
        What Our Readers Say
      </p>
      <h1 class="text-3xl text-title font-kumbh-sans">
        Real Words from Real Readers
      </h1>
    </div>
    <button
      class="flex bg-background text-desc py-[14px] px-[20px] gap-[4px] border rounded-md border-border font-inter justify-center"
    >
      View All Testimonials
      <Image src={vector2} alt="vector2" class="mt-[6px] w-[13.75px]" />
    </button>
  </div>
  <div class="flex flex-col font-inter">
    {
      avatarsData.map((row, rowIndex) => (
        <div
          class={`md:flex flex-col md:flex-row px-[20px] gap-[20px] md:gap-[50px] md:border-b border-border ${
            rowIndex === 1 ? "hidden" : "flex"
          }`}
        >
          {row.map((avatar, columnIndex) => (
            <AvatarData avatar={avatar} columnIndex={columnIndex} row={row} />
          ))}
        </div>
      ))
    }
  </div>
</div>
